* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;   
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #0d0d0e  ;
}
.home .content {
    color: #fff;
    width: 70%;
    margin-left: 20rem;
}

.home .content h1 {
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 75px;
    margin-bottom: 10px;
}

.home .btn {
    font-size: 16px;
    font-weight: 500;
    padding: 15px 25px;
    margin-top: 20px;
    margin-left: 5rem;
}

.home .btn .btn_ct {
  text-decoration: none;
    border-radius: 5px;
    color: #000;
    background: #f8f401;
    padding: 15px 25px;
    margin-left: 215px;
    transition: .5s;
}

.home .btn .btn_ct:hover{
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
}

.home .btn .btn_cv {
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    background: transparent;
    padding: 15px 25px;
    margin-left: 40px;
    transition: .5s;
    border: 1px solid #fff;   
}
.home .btn .btn_cv:hover {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.home .arrow {
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.home .arrow {
    position: absolute;
    top: calc(100vh - 100px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
  }
  
 .home .arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
  .home .arrow {
    animation: jumpInfinite 1.5s infinite;
  }

.btn_wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 50px;
    right: 50px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    transition: .5s all;
  }

  .btn_wsp:hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;
  }

.home .icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.home .icons a{
    color: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    font-size: 27px;
    background: none;
    border: none;
}
.home .icons a:hover {
    transform: scale(1.3);
}

@media (max-width: 430px) {
.home .content {
    margin-left: 5rem;
}

.home .content h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.home .btn {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 25px;
  margin-left: -10rem;
}
.home .icons {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: -15rem;
}
.home .icons a{
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 27px;
  background: none;
  border: none;
}
.home .icons a:hover {
  transform: scale(1.3);
}
}