*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.skills {
    padding: 30px 90px;
    min-height: 100vh;
    background: #0d0d0e;
}
.skills .content h1{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    
}

.skills .content .parrafo{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 18px;
}
.skills .content .info {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    font-size: 26px;
}

.skills .content .info .icons {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    padding:20px 30px;
    cursor: pointer;
    transition: .5s;
    background: #000;
}

.skills .content .info .icons:hover {
    background: #fff;
    color: #000;
    transform: scale(1.1);
}
.skills .content li {
    overflow: hidden;
}
.skills .tec {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.info_parrafo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.edit_p p {
    width: 50%;
    margin-left: 14rem;
    text-align: center;
}



@media (max-width:1440px) {
    .edit_p p {
        width: 70%;
        margin-left: 7rem;
        text-align: start;
    }
}


@media (max-width:1024px) {
    .edit_p p {
        width: 90%;
        margin-left: 2rem;
        text-align: start;
    }
}


@media(max-width: 800px) {
    .skills .content .info {
        grid-template-columns: repeat(3, 2fr);
    }
}
@media (max-width:768px) {
    .skills .content .info {
        color: #fff;
        display: grid;
        grid-template-columns: row;
        justify-content: center;
        margin-top: 40px;
        gap: 20px;
        font-size: 26px;
    }
}
@media (max-width: 480px) {
    .skills .content .info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .info_parrafo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .edit_p p {
        width: 140%;
        margin-left: -2.5rem;
        text-align: start;
    }
}